body {
	width: 600px;
}

h1 {
	font-size: 150%;
}

.fav-icon {
	float: right;
	font-size: 130%;
}

.tag_decoration {
	color: #31708F;
}

#content {
	min-height: 300px;
}

#tags, #lyrics {
	margin-top: 100px;
	display: inline-block;
}

#tags {
	width: 40%;
	padding-right: 10px;
	margin-left: 5px;
}

#lyrics {
	width: 55%;
	height: 100%;
	padding-left: 10px;
	position: fixed;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DBDBDB;
}

#lyrics_list {
	height: 300px;
	list-style: none;
	padding-left: 10px;
	overflow: auto;
}
