<!DOCTYPE html>
<html lang="en" ng-app="ouichesApp">
<head>
	<meta charset="UTF-8">
	<title>Ouich!es Extension</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/popup.css">
	<script src="lib/jquery-2.1.1.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/howlerjs/howler.min.js"></script>
	<script src="popup.js"></script>
</head>
<body>
	<div class="container row col-md-12" ng-controller="ouichesController">
		<div class="navbar navbar-default navbar-fixed-top" id="navbar_search">
			<div class="container row navbar-header">
				<a class="navbar-brand" href="#" ng-click="openSite()" title="Se rendre sur ouich.es">Ouich!es</a>
				<input type="text" name="search_tag" id="search_tag" ng-model="searchTag" class="form-control" placeholder="Rechercher un tag" autofocus>
			</div>
		</div>
		<div id="tags">
			<div id="fav_list" ng-show="(fav_list | notFalse:'array').length > 0">
				<h1>Favoris</h1>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-info" ng-repeat="(fav, index) in fav_list | notFalse" ng-click="readTag(fav, index);">
						#{{ fav }}
						<span class="glyphicon glyphicon-star fav-icon" ng-click="removeTagFromFavs(fav); $event.stopPropagation();" title="Retirer des favoris"></span>
					</a>
				</div>
			</div>
			<div id="tag_list">
				<h1 ng-hide="searchTag.length > 0">Tous les tags</h1>
				<h1 ng-show="searchTag.length > 0">Résultats pour <span class="tag_decoration">{{ searchTag }}</span></h1>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-info" ng-repeat="item in tag_list | filter:searchTag" ng-click="readTag(item.tag, $index);">
						#{{ item.tag }}
						<span class="glyphicon glyphicon-star-empty fav-icon" ng-click="addTagToFavs(item.tag, $index); $event.stopPropagation();" title="Ajouter aux favoris"></span>
					</a>
				</div>
			</div>
		</div><!--
	 --><div id="lyrics">
			<h1>Texte<span ng-show="actual_tag !== null"> de <span class="tag_decoration" >#{{ actual_tag.tag }}</span></span></h1>
			<div class="tag_lyrics">
				<ul id="lyrics_list">
					<li ng-repeat="item in actual_tag.quotes">"{{ item.text }}"</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
